<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Creating Country</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>
<body>
<div class="container text-center">
    <div><h1>Create new Country</h1></div>
    <form  th:action="@{/former/tour/country/save}" th:object="${country}" th:method="POST"
           style="max-width: 600px; margin: 0 auto;">
        <input type="hidden" th:field="*{id}" th:value="${country.id}"/>
        <div class="m-3">
            <div class="form-group row">
                <label class="col-form-label col-sm-4">Enter country:</label>
                <div class="col-sm-4">
                    <input type="text" th:field="${country.name}" class="form-control" required />
                </div>
            </div>
            <div class="text-center p-3">
                <button type="submit" class="btn btn-primary">Create</button>
            </div>
        </div>
    </form>
</div>
</body>
</html>