<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:tr="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Flight List</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<div class="container text-center">
    <div><h1>Flights</h1></div>
    <div><h2><a th:href="@{/former/tour/flight/newFlight}">Add new Flight</a></h2></div>
    <div>
        <table class="table table-bordered">
            <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Flight Code</th>
                <th>Airline</th>
                <th>Date of Departure</th>
                <th>City of Departure</th>
                <th>City of Arrival</th>
                <th>Tour Name</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr:block>
                <tr th:each="hot : ${flight}">
                    <td th:text="${hot.id}"></td>
                    <td th:text="${hot.flightCode}"></td>
                    <td th:text="${hot.departureDate}"></td>
                    <td th:text="${hot.departureCity}"></td>
                    <td th:text="${hot.cityOfArrival}"></td>
                    <td th:text="${hot.tour.tourName}"></td>
                    <td>
                        <a th:href="@{'/former/tour/flight/edit/' + ${hot.id}}">Edit</a>
                    </td>
                    <td>
                        <a th:href="@{'/former/tour/flight/delete/' + ${hot.id}}">Delete</a>
                    </td>
                </tr>
            </tr:block>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>