<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
<head>
    <meta charset="UTF-8">
    <title>Edit Task</title>
</head>
<body>
<div class="container text-center">
    <div><h1>Update Task</h1></div>
    <form th:method="POST" th:action="@{/former/tour-task/save}" th:object="${task}"
          style="max-width: 600px; margin: 0 auto;">
        <input type="hidden" th:field="*{id}" th:value="${task.id}"/>
        <div class="m-3">
            <div class="form-group row">
                <label class="col-form-label col-sm-4">Description</label>
                <div class="col-sm-4">
                    <input type="text" th:field="${task.description}" class="form-control" required />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-form-label col-sm-4">Deadline</label>
                <div class="col-sm-4">
                    <input type="text" th:field="${task.executingTime}" class="form-control" required />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-form-label col-sm-4">Status</label>
                <div class="col-sm-4">
                    <select th:field="*{status}" class="form-control" required>
                        <th:block th:each="st : ${statuses}">
                            <option th:text="${st.status}" th:value="${st.id}"/>
                        </th:block>
                    </select>
                </div>
            </div>
            <div class="text-center p-3">
                <button type="submit" class="btn btn-primary">Update</button>
            </div>
        </div>

    </form>

</div>
</body>
</html>