<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>The Former of Tours</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<div class="container text-center">
    <div><h1>Menu</h1></div>
    <div class="p-2">
        <a class="h2" th:href="@{/former/tour/country}">Country</a>
    </div>
    <div class="p-2">
        <a class="h2" th:href="@{/former/tour/types}">Type</a>
    </div>
    <div class="p-2">
        <a class="h2" th:href="@{/former/tour/hotel}">Hotels</a>
    </div>
    <div class="p-2">
        <a class="h2" th:href="@{/former/tour/room}">Hotel Rooms</a>
    </div>
    <div class="p-2">
        <a class="h2" th:href="@{/former/tour/flight}">Tour Flights</a>
    </div>
    <div class="p-2">
        <a class="h2" th:href="@{/former/tour/ticket}">Tour Tickets</a>
    </div>
    <div class="p-2">
        <a class="h2" th:href="@{/former/tour/tour-tour}">Tours</a>
    </div>

</div>
</body>
</html>