<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Deputy Director</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<div class="container text-center">
    <div><h1>Menu</h1></div>
    <div class="p-2">
        <a class="h2" th:href="@{/deputy-director/posts}">Post</a>
    </div>
    <div class="p-2">
        <a class="h2" th:href="@{/deputy-director/staff}">Staff</a>
    </div>
    <div class="p-2">
        <a class="h2" th:href="@{/deputy-director/tour-task}">Tour Task</a>
    </div>
    <div class="p-2">
        <a class="h2" th:href="@{/}">Main Page</a>
    </div>



</div>
</body>
</html>